body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    background-color: darkseagreen;
}
.toolbar{
    background-color: aliceblue;
}
.greenhouse{
    padding: 30px;
    height: 200px;
    width: 400px;
    display: inline-block;
}
#lights{
    height: 100%;
    width: 100%;
    object-fit:fill
}
html, body {
    height: 100%;
}

.Childmain{
    display: inline-block;
    top:50px;
}